services:
  app:
    build: .
    depends_on:
      - selenium
    volumes:
      - ./logs:/home/appuser/app/logs
    environment:
      - TELEGRAM_TOKEN
      - TELEGRAM_CHAT_ID

  selenium:
    image: selenium/standalone-chrome:latest
    ports:
      - "4444:4444"
